*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
#blue, #principale{
   height: 1000px;
   width: 100%;
}

#blue{
    background-color: blue;
}

#principale{
    background-color:red;
}

    